<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <link rel = "stylesheet" href="../css/style.css">

<body>
    <main>
        <%- include('../partials/header') %>

        <h1>Bienvenidos a la paginda de edicion de alumno </h1>
        <div class = "presentacion">
        <form method = "POST" action="/alumnos/<%= alumnoToEdit.id-1 %>?_method=PUT"  enctype="multipart/form-data">
        <label for = "name">Nombre:</label>    
        <input type = "text" name="name" value="<%=alumnoToEdit.name %>">
        <br>
        <br>
        <label for = "edad">Edad:</label>
        <input type = "text" name ="edad" value="<%=alumnoToEdit.edad %>">
        <br>
        <br>
        <label for = "profesion">Profesion:</label>
        <input type = "text" name ="profesion" value="<%=alumnoToEdit.profesion %>">
        <br>
        <br>
        <label for = "nacionalidad">Nacionalidad:</label>
        <input type = "text" name ="nacionalidad" value="<%=alumnoToEdit.nacionalidad%>">
        <br>
        <br>
      
        <input type="submit" value="Editar">
    
        <button> <a href  = "/">Al index</a> </button>  
    </form>
    </div>
    </main>
</body>
</html>