<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>


<body>
    <%- include('../partials/header') %>

    <main>
        <h1>REGISTER</h1>
    <div class="presentacion">
        <div class="form-login">
            <div class="form-container">
           
                <div class="ingreso">
    
                    <h3>Crear una cuenta</h3>
                    <% if (locals.errors) { 
                     errors.forEach(error => { %>
                        <p class = "errores"> <%= error.msg %> </p>
                        <% }) 
                     } %>

                    <form action="/users/register" method="POST">
                        <label for = "username">Nombre: </label>
                            <input type="text" name="username"  class="form-control" value = "<%= locals.old && old.username ? old.username : '' %>">
                                <br>
                                <br>
                                <label for = "lastname">Apellido: </label>
                                <input type="text" name="lastname"  class="form-control" value = "<%= locals.old && old.lastname ? old.lastname : '' %>">
                                <br>
                                <br>
                                <label for = "email">Email: </label>
                                <input type="text" name="email"  class="form-control" value = "<%= locals.old && old.email ? old.email : '' %>">
                                <br>
                                <br>
                                <label for = "password">Contraseña: </label>
                            <input type="password" name="password"  class="form-control">
                            <br>
                            <br>
                        <div class="buttons">
                            <a href="/index">
                                <button class="login-botton">
                                    Ingresar
                                </button>
                            </a>
                            
                        </div>
                    
                        <br>
                        Ya tenes una cuenta? <a href="/users/login">Ingresa aca</a>
    
                    </form>
                </div>
        </div>
    </div>
    </div>
</main>

</body>
</html>